* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* width: 100%; */
}
